
:root {
    --color-primario: #007bff;
    --color-primario-hover: #0056b3;
    --color-secundario: #6c757d;
    --color-exito: #28a745;
    --color-exito-hover: #218838;
    --color-peligro: #dc3545;
    --color-peligro-hover: #c82333;
    --color-fondo: #f8f9fa;
    --color-texto: #343a40;
    --color-borde: #dee2e6;
  }
  
  .principal {
    flex: 1;
  padding: 20px;
  overflow: auto;
  }
  

/* Media query para pantallas >= 768px */
@media (min-width: 768px) {
  .principal {
    margin-left: 25vw;
  }
}
@media (min-width: 1024px) {
  .principal {
    margin-left: 0vw;
  }
}
